.activity-container {
  background: gainsboro;
  padding: 0.5rem;
  border-radius: 12px;
  position: relative;
  margin-top: 2rem;
}

.delete-icon {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 18px;
  cursor: pointer;
}

.activity-destination {
  margin-bottom: 1rem;
  font-size: 1.3rem;
  font-weight: 500;
  max-width: 9rem;
  overflow-wrap: break-word;
  text-transform: capitalize;
}

.activity-time {
  font-size: 0.8rem;
  color: gray;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.time-chosen-colour {
  color: #fe5c5d;
  outline: 1px solid #fe5c5d;
  padding: 0.2rem;
  border-radius: 8px;
}

.clock-icon {
  height: 15px;
  margin-right: 0.2rem;
}

.choose-time-popup {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 2rem;
  z-index: 1;
  background: white;
  padding: 0.5rem;
  border-radius: 12px;
  max-width: 12rem;
}

.time-inputs {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
}

.time-buttons {
  display: flex;
  flex-direction: row;
}

.time-error-message {
  color: red;
  text-align: center;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.save-time-button {
  border: none;
  font-size: 0.8rem;
  cursor: pointer;
  text-transform: uppercase;
  background: #06396c;
  color: white;
  padding: 0.5rem;
  border-radius: 8px;
  margin-left: auto;
  margin-right: 0.5rem;
  width: 4.5rem;
}

.cancel-time-button {
  border: none;
  font-size: 0.8rem;
  cursor: pointer;
  text-transform: uppercase;
  background: gray;
  color: white;
  padding: 0.5rem;
  border-radius: 8px;
  margin-left: 0.5rem;
  width: 4.5rem;
}
