.activity {
  width: 400px;
  height: 90px;
  border-radius: 18px;
  background-color: #fbf8f3;
  margin: 1.5625rem 1.5625rem 0 1.5625rem;
  display: flex;
  flex-direction: row;
}

.activity-info {
  margin-left: 1.5625rem;
  margin-top: 0.9375rem;
  width: fit-content;
  height: fit-content;
}

.activity-time {
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  text-transform: uppercase;
  margin-top: 0.9375rem;
}

.activity-name {
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
}

.activity-button {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: 1.5625rem;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.delete-button {
  background: transparent;
  border: none;
  cursor: pointer;
  margin-bottom: 0.75rem;
}

.edit-button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.confirm-button {
  width: 24px;
  height: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.time-start-edit,
.time-end-edit {
  width: 20%;
  margin-top: 0.9375rem;
  outline: none;
  border-radius: 4px;
  text-transform: uppercase;
}

.name-edit {
  outline: none;
  border-radius: 4px;
  width: 50%;
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  .activity {
    width: 300px;
  }

  .name-edit {
    width: 55%;
    font-size: 0.875rem;
  }

  .time-start-edit,
  .time-end-edit {
    font-size: 0.75rem;
  }

  .activity-time {
    font-size: 0.875rem;
  }

  .activity-name {
    font-size: 1rem;
  }
}
