.activity {
  display: flex;
  margin-top: 2rem;
}

.activity__info-container {
  background: white;
  box-shadow: 0 0 10px 0 #cdcdcd;
  -webkit-box-shadow: 0 0 10px 0 #cdcdcd;
  position: relative;
  padding: 0.5rem;
  border-radius: 12px;
  max-width: 12rem;
  width: 12rem;
}

.activity:hover .activity__delete-icon,
.activity:hover .activity__drag-handle-icon {
  visibility: visible;
  cursor: pointer;
}

.activity__delete-icon {
  visibility: hidden;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 18px;
}

.activity__delete-icon:hover {
  stroke: #473bf0;
}

.activity__drag-handle-icon {
  visibility: hidden;
  margin-right: 0.2rem;
}

.activity__destination {
  margin-bottom: 1rem;
  font-size: 1.3rem;
  font-weight: 500;
  max-width: 12rem;
  overflow-wrap: break-word;
  text-transform: capitalize;
}

.activity__time {
  font-size: 0.8rem;
  color: gray;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: fit-content;
}

.activity__time-chosen-colour {
  color: #009ddc;
  outline: 1px solid #009ddc;
  padding: 0.2rem;
  border-radius: 8px;
}

.activity__clock-icon {
  height: 15px;
  margin-right: 0.2rem;
}

.activity__time-picker {
  position: absolute;
  left: -2rem;
  top: 5rem;
  z-index: 1;
}

@media (max-width: 640px) {
  .activity__delete-icon {
    visibility: visible;
  }

  .activity__drag-handle-icon {
    display: none;
  }
}
