.saved-card-container {
  display: flex;
  align-items: center;
  position: relative;
  background: white;
  border-radius: 16px;
  padding: 1rem;
  margin: 1rem;
  width: 18rem;
  cursor: pointer;
  box-shadow: 0 0 8px #cccccc;
}

.saved-card-destination {
  font-weight: 500;
}

.saved-card-icon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.1rem;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 12px;
  background: #fe5c5d;
  cursor: pointer;
}

.saved-card-date {
  font-size: 0.7rem;
  margin-top: 0.5rem;
  color: gray;
}
