.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.home__search-container {
  margin-top: 5rem;
}

.home__hero-container {
  background: #f5f5f5;
  width: 90%;
  height: 70%;
  display: flex;
  margin-top: 2rem;
  position: relative;
  border-radius: 32px;
}

.home__title-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  width: 30%;
  margin-left: 4rem;
}

.home__title {
  color: #0b132b;
  font-size: 3rem;
}

.home__travlr-text {
  color: #473bf0;
}

.home__title-subtext {
  margin-top: 1rem;
  max-width: 24rem;
  font-size: 1.1rem;
  font-weight: 400;
  color: #0b132b;
}

.home__hero-image-container {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 58%;
  height: 100%;
}

.home__hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 32px;
}

.home__form-container {
  display: flex;
  position: relative;
  flex-direction: row;
}

.home__custom-date-picker {
  position: absolute;
  z-index: 2;
  top: 4rem;
  right: 2.4rem;
}

.home__pin-container,
.home__calendar-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__pin-icon,
.home__calendar-icon,
.home__search-icon {
  width: 20px;
}

.home__date-container,
.home__destination-container {
  display: flex;
  position: relative;
  align-items: center;
  background: #f0f3f5;
  padding: 0.8rem;
  margin-inline: 0.5rem;
}

.home__destination-input,
.home__date-input {
  color: gray;
  width: 14rem;
  background: transparent;
  border: none;
  outline: none;
  margin-left: 0.5rem;
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 1px;
}

.home__date-input {
  cursor: pointer;
}

.home__search-button {
  padding: 0.5rem;
  background-color: #473bf0;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.home__autocomplete-data {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 3rem;
  left: 0;
  padding: 0.5rem;
  border-radius: 16px;
  background: #f0f3f5;
  border: 1px solid gray;
  z-index: 1;
}

.home__autocomplete-location {
  cursor: pointer;
}

.home__autocomplete-location:hover {
  background: lightgray;
}

@media (max-width: 640px) {
  .home__form-container {
    display: flex;
    flex-direction: column;
  }

  .home__search-container {
    bottom: 4rem;
  }

  .home__hero-image {
    display: none;
  }

  .home__search-button {
    margin-top: 1rem;
    width: 95%;
    display: flex;
    align-self: center;
    justify-content: center;
  }

  .home__title {
    font-size: 2rem;
  }

  .home__title-text {
    width: 100%;
    justify-content: flex-start;
    margin-left: 2rem;
    margin-top: 2rem;
  }

  .home__hero-image-container {
    width: 0;
  }

  .home__date-container,
  .home__destination-container {
    margin-top: 0.5rem;
  }

  .home__custom-date-picker {
    position: absolute;
    z-index: 2;
    top: 10rem;
    right: -0.5rem;
  }
}

@media (max-width: 992px) and (min-width: 640px) {
  .home__hero-container {
    flex-direction: column;
  }

  .home__title-text {
    width: 90%;
    justify-content: flex-start;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .home__title {
    width: 32rem;
  }

  .home__hero-image-container {
    width: 100%;
    height: 55%;
  }

  .home__form-container {
    display: flex;
    flex-direction: column;
  }

  .home__date-container,
  .home__destination-container {
    margin-top: 0.5rem;
  }

  .home__search-button {
    margin-top: 1rem;
    width: 95%;
    display: flex;
    align-self: center;
    justify-content: center;
  }
}
