.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.home-search-container {
  position: absolute;
  bottom: 25%;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  z-index: 5;
  padding: 1.2rem;
  border-radius: 16px;
}

.home-title-text {
  position: absolute;
  left: 10%;
  top: 25%;
  z-index: 1;
}

.home-title {
  color: #fe5c5d;
}

.home-title-subtext {
  margin-top: 1rem;
  width: 20rem;
}

.home-hero-image {
  margin-bottom: 10rem;
  width: 80%;
  height: auto;
  max-height: 60vh;
  object-fit: cover;
  clip-path: polygon(4.2% 0%, 95.3% 0%, 95.8% 100%, 47.7% 100%);
}

.home-form-container {
  display: flex;
  flex-direction: row;
}

.destination-title-input-container,
.date-input-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pin-container,
.calendar-container {
  width: 20px;
  height: 20px;
  background-color: #fe5c5d;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-map-pin-icon,
.home-calendar-icon {
  width: 12px;
}

.destination-input-label,
.date-input-label {
  font-weight: 500;
  font-size: 1.2rem;
  margin-left: 0.4rem;
}

.destination-input,
.date-input {
  color: gray;
  width: 14rem;
  background: transparent;
  border: none;
  outline: none;
  margin-left: 1.7rem;
  margin-top: 0.5rem;
  font-weight: 300;
  font-size: 0.9rem;
}

.date-input {
  width: 12rem;
  cursor: pointer;
}

.vertical-line {
  width: 2px;
  height: 3rem;
  background: #fe5c5d;
  margin: 0 2rem;
}

.horizontal-line {
  width: 70%;
  height: 2px;
  background: #fe5c5d;
  margin: 2rem 0;
  display: flex;
  align-self: center;
}

.home-search-button {
  padding: 0.5rem;
  background-color: #fe5c5d;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.home-search-icon {
  width: 18px;
}

@media (max-width: 640px) {
  .home-form-container {
    display: flex;
    flex-direction: column;
  }

  .home-search-container {
    bottom: 4rem;
  }

  .home-hero-image {
    display: none;
  }

  .home-search-button {
    margin-top: 2rem;
    width: 50%;
    display: flex;
    align-self: center;
    justify-content: center;
  }

  .home-title-text {
    text-align: left;
    width: 20rem;
    top: 5rem;
    left: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
