.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 8px;
}

.card-day {
    font-size: 24px;
    font-weight: 500;
}

.delete-icon {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 5px;
    border: 1.8px solid black;
    background: transparent;
    margin-left: 8px;
    cursor: pointer;
}

.card-header {
    margin-left: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.addActivity-icon {
    width: 1.5rem;
    height: 1.5rem;
    border: none;
    background: transparent;
    margin-left: 8px;
    cursor: pointer;
}
