.card-title {
  font-size: 1.5rem;
  text-align: center;
}

.card-activity-name-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.card-activity-name-input {
  border: none;
  outline: none;
  border-radius: 12px;
  padding: 0.5rem;
  margin-left: 0.5rem;
  background: gainsboro;
  color: black;
}

.card-line-split {
  border-top: 2px solid #473bf0;
  width: 16rem;
  margin: 2rem;
}
