.planner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.event-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 82%;
}

.cards-container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  max-width: 100%;
  border-radius: 12px;
}

.cards-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.save-icon {
  margin: 0.25rem 0 0 1rem;
  width: 28px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .cards-container {
    flex-direction: column;
    align-items: center;
    max-width: none;
    max-height: 100%;
    overflow-y: auto;
  }

  .event-container {
    max-width: 100%;
    height: 100vh;
  }

  .cards-button-container {
    flex-direction: column;
    height: 45%;
  }

  .add-button {
    margin-left: 0;
    margin-top: 0.5rem;
  }

  .destination {
    font-size: 1.5rem;
  }
}
