.planner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.event-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.add-icon {
    width: 1.5rem;
    height: 1.5rem;
    border: none;
    cursor: pointer;
    background-color: transparent;
}
