.planner-container {
  display: flex;
  justify-content: flex-start;
  padding-top: 4rem;
}

.planner-event-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.planner-cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
}

.planner-hero-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 100%;
  max-height: 25rem;
}

.planner-destination-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.planner-destination-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -3rem;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  padding: 1rem;
  border-radius: 16px;
  z-index: 1;
}

.planner-destination-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.planner-destination-date-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.8rem;
}

.planner-destination-date-icon {
  margin-right: 1rem;
}

.planner-destination {
  color: black;
  font-weight: 500;
  font-size: 2.5rem;
  text-transform: capitalize;
}

.planner-pin-icon {
  width: 28px;
  height: 28px;
  margin-right: 0.5rem;
}

.planner-save-icon-container {
  position: absolute;
  display: flex;
  align-items: center;
  right: 0.5rem;
  top: 0.5rem;
  padding: 0.3rem;
  background: #473bf0;
  cursor: pointer;
  border-radius: 50%;
}

.planner-map-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 0;
  width: 50%;
  height: 100%;
}

@media (max-width: 840px) {
  .planner-event-container {
    width: 100%;
  }

  .planner-map-container {
    display: none;
  }
}
