.planner {
  display: flex;
  justify-content: flex-start;
  background-color: #f4f2ef;
  height: 100%;
}

.planner__itinerary-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.planner__cards-container {
  display: flex;
  flex-direction: row;
  padding: 6rem 2rem 2rem 2rem;
  overflow-x: scroll;
  height: 100%;
}

.planner__pdf-container {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  z-index: 99;
}

.planner__download-button {
  width: 32px;
  background-color: #dcd1c7;
  padding: 0.2rem;
  border-radius: 8px;
  cursor: pointer;
}
