.saved-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.saved-destination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  margin: 1rem;
}

.destination-name {
  width: 10rem;
  overflow-wrap: break-word;
  margin-left: 0.25rem;
}

.load-button {
  margin-left: auto;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 0.3125rem;
  margin-left: 0.5rem;
  cursor: pointer;
}
