.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 4rem;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f4f2ef;
  border-bottom: 1px solid #e0dbd4;
  z-index: 999;
}

.navbar__title {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  cursor: pointer;
  margin-left: 0%;
}

.navbar__links {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: large;
  width: 100%;
}

.navbar__trips-button {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  cursor: pointer;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-inline: 1rem;
  background-color: #dcd1c7;
  border-radius: 8px;
  /* width: 4rem; */
  /* height: 1.5rem; */
  padding: 0.2rem 0.4rem;
}

.navbar__trips-button-name {
  margin-left: 0.1rem;
}

.navbar__signout-button,
.navbar__login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 0.8rem;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  background-color: #dcd1c7;
  border-radius: 8px;
  padding: 0.2rem 0.4rem;
  margin-left: auto;
}

.login-signup-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f4f2ef;
  border-radius: 32px;
  padding: 20px;
  width: 22rem;
  height: 39rem;
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-signup-modal__close-button {
  position: absolute;
  top: 0;
  right: 0;
  background: #dcd1c7;
  border: none;
  display: flex;
  align-items: center;
  margin: 1rem;
  border-radius: 50%;
  padding: 0.3rem;
  cursor: pointer;
}

.login-signup-modal__blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 99;
}
