.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  width: 100%;
  padding: 0.5rem;
  background-color: #e7e7e7;
}

.navbar-title {
  display: flex;
  font-weight: 500;
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
  cursor: pointer;
  margin-left: 3%;
}

.navbar-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  font-size: large;
  margin-right: 4%;
}

.navbar-element {
  list-style: none;
  margin-left: 0.8rem;
  cursor: pointer;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 1rem;
}

.signout-button,
.login-button {
  border: none;
  font-size: 0.8rem;
  cursor: pointer;
  text-transform: uppercase;
  background: #473bf0;
  color: white;
  padding: 0.6rem 1rem;
  border-radius: 8px;
}

.login-signup-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 32px;
  padding: 20px;
  width: 22rem;
  height: 39rem;
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.close-popup {
  position: absolute;
  top: 0;
  right: 0;
  background: #473bf0;
  border: none;
  display: flex;
  align-items: center;
  margin: 1rem;
  border-radius: 50%;
  padding: 0.3rem;
  cursor: pointer;
}

.blur-around-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 99;
}
