.login-title {
  font-size: 2rem;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-left: 3rem;
  color: #022249;
}

.input-login-container {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.login-input {
  border: none;
  outline: none;
  border-bottom: 2px solid black;
  padding: 0.8rem;
  padding-left: 2.2rem;
  font-size: 0.9rem;
}

.login-input-icon {
  position: absolute;
  margin-left: 0.5rem;
  width: 18px;
}

.login-submit-container {
  display: flex;
  justify-content: center;
}

.login-submit-button {
  padding: 0.6rem;
  margin-top: 0.5rem;
  margin-left: auto;
  border: none;
  border-radius: 28px;
  width: 6rem;
  font-size: 1rem;
  cursor: pointer;
  background-color: #f07c42;
  color: white;
}

.login-footer {
  position: absolute;
  bottom: 5%;
  font-size: 0.9rem;
  color: gray;
}

.login-footer-span {
  color: #f07c42;
  text-decoration: none;
  cursor: pointer;
}

.login-error {
  position: absolute;
  color: #fc4344;
  text-align: center;
  max-width: 14rem;
  width: 14rem;
  margin-top: 1rem;
}
